body {
    font-family: Georgia, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(hatter2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.keret {
    margin-top: 15%;
    background: rgb(102, 255, 181);
    background: linear-gradient(90deg, rgba(48, 255, 128, 0.816) 0%, rgb(0, 119, 64) 100%);
    padding: 3%;
    border-radius: 3%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    width: 100%;
    min-width: 700px;
    max-width: 1500px;
    text-align: center;
    min-height: 800px;
    backdrop-filter: blur(3px);
}


h2{

text-align: left;
padding-top: 3%;

}


h3{

font-size: 22px;
text-align: left;
padding-top: 2%;


}




h1{

font-size: 40px;

}

.magyarazo{

text-align: left;
font-size: 130%;
padding: 1%;
padding-left: 3%;

}


.feladat{
    margin: 5px;
}