body {
    font-family: Georgia, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(hatter.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.keret {
    background: rgb(102, 255, 181);
    background: linear-gradient(90deg, rgba(114, 255, 236, 0.816) 0%, rgb(0, 119, 64) 100%);
    padding: 3%;
    border-radius: 3%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    width: 100%;
    max-width: 900px;
    text-align: center;
    height: auto;
    min-height: 800px;
    backdrop-filter: blur(3px);
}